{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <div class="row mt-3 mb-2">
        <div class="col">
            Data Schemas
        </div>
        <div class="col d-flex flex-row-reverse">
            <a href="{% url 'new_schema' %}" class="btn btn-primary f-f blue" style="float: right; background: #0275D8;" >New schema</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                    {% for schema in schemas_list %}
                        <tr>
                            <th scope="row">{{schema.id}}</th>
                            <td><a style="color: #0275D8;" href="{% url 'schema_sets' schema.id request.user.username %}">{{schema.schame_name}}</a></td>
                            <td>{{schema.updated}}</td>
                            <td><div class="mr-2 d-inline"><a style="color: #0275D8;"
                                                              href="{% url 'edit_schema' schema.id request.user.username%}">Edit scheme</a></div>
                                <div class="d-inline"><a style="color: #D9534F;" >Delite</a></div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


